@import "tailwindcss";


@theme {
  --color-cura-blue: #17439B;
  --color-cura-grey: #83868E;
  --color-cura-dark: #1E1E1E;
  --color-cura-white: #FFFFFF;
  --font-jost: "Jost", sans-serif;
}


body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}